#board_get-container {
	border: 0.5px solid rgba(0,0,0,0.3);
	text-align: center;
	justify-content: center;
	align-items: center;
}
.top-info {
	display: flex;
	justify-content: space-between;
}
.body-info {
	text-align: center;
	align-items: center;
}

/* 여기부터 삭제모달 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-style {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.confirm-btn {
    background-color: #4CAF50;
    color: white;
}

.cancel-btn {
    background-color: #f44336;
    color: white;
}
/* 여기까지 삭제 모달 */

.view-list-all {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
}

.list_view-container {
	width: 30vw;
	height: 30vh;
	margin-bottom: 20px;
	border: 0.5px solid rgba(0,0,0,0.3);
	text-align: center;
	justify-content: center;
	align-items: center;
}

.list_view-img {
	width: 50%;
	height: 50%;
}
.list_view-status {
	display: flex; 
	justify-content: space-between;
}

.list_view-title {
	border-bottom: 1px solid rgba(0,0,0,0.3);
	padding: 0px 10px;
}
.comment-container {
	margin-top: 10px;
	border: 0.5px solid rgba(0,0,0,0.3);
	text-align: center;
	justify-content: center;
	align-items: center;
}

#comment_write-box {
	resize: none;
}

.comment_count-container {
	display: flex;
	margin-bottom: 20px;
	padding: 0px 20px;
}
.comment_count-container-sub {
	border-bottom: 0.5px solid rgba(0,0,0,0.3);
}

.comment_write-container {
	margin-bottom: 20px;
}
.comment_write-container-btn {
	display: flex;
}
.count_container {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}

.see_all-button {
	text-decoration: none;
}

.see_all-button span {
	color: rgba(0,0,0,0.5); 
	transition: 0.1s color ease-in-out;
}

.see_all-button span:hover {
	color: rgb(223,173,105);
}

#board_get-img {
	max-width: 90%; /* 뷰포트 너비에 맞춤 */
    max-height: 100vh; /* 뷰포트 높이에 맞춤 */
    width: auto;
    height: auto;
}

.list_view-likeheart {
	cursor: pointer;
}