.about-container {
	background-color: black;
}

.about-title{
	display: flex;
	justify-content: center;
	color: white;
}

.about_body-container {
	margin-bottom: 40px;
}

#about-body{
	display: flex;
	justify-content: center;
	padding: 0px 200px;
	margin: 0px 80px;
	color: white;
}

.carousel_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%; /* 보이는 슬라이더 영역 */
    overflow: hidden;
    border: 2px solid #ccc;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 1s ease;
}

.carousel-track img {
    width: 33.4vw; /* 각 이미지의 너비 */
    object-fit: cover;
}